@import "tailwindcss";
@plugin "daisyui";

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";
@import "swiper/css/effect-fade";

.active{
    text-decoration: underline;
}